<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="False" />
  <param
    name="robot_description"
    textfile="$(find 401pius)/urdf/401pius.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find 401pius)/config/urdf.rviz" />
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
     <rosparam
       file="$(find 401pius)/config/control.yaml"
       command="load" />
     <param name="sim" 
     value="true" />
  </node>

</launch>