
<robot name="my_car_camera" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="my_head.xacro" />
    <xacro:include filename="my_base.xacro" />
    <xacro:include filename="my_camera.xacro" />
    <xacro:include filename="my_laser.xacro" />
    <xacro:include filename="gezebo/move.xacro" />
    <xacro:include filename="gezebo/laser.xacro" />
    <xacro:include filename="gezebo/camera.xacro" />

</robot>
